* {
    transition: 1s ease;
}
body {
    background-color: rgb(240, 241, 243);
}

.blurtext {
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(2px);
    height: auto;
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-right: 2rem;
}

#bgimg {
    background-image: url("img/pexels-photo-331684.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 48px;
  }

.card{
    width: 20rem;
}
.card:hover {
    transform: scale(1.2);
}

#products > div{
    margin: 0 2rem  ;
    margin-top: 0.7rem;
    margin-bottom: 2.5rem;
}

#products > div > a > img{
    border-radius: 15px;
    height: 250px;
    filter: blur(0.7px);
    margin: auto;
}


#products > div > a > img:hover {
    filter: none;
}

a {
    text-decoration: none;
    color: inherit;
    
}

a:hover {
    color: inherit;
    
}

.card {
    background-color:rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(20px);
    border-radius: 15px; 
}

#carouselExampleIndicators {
    size: auto;
}

.carrevh {
    margin-left: 5rem;
}

.carrev {
    margin: 1rem 5rem;
}

.carousel-item {
    margin: 5rem 1rem;
    padding: 1.5rem;
}

@media screen and (max-width: 1200px) {



}

@media screen and (max-width: 1000px) { 




}

@media screen and (max-width: 600px) {
    .main-img 
        {width: 100%;
    }

}
