.card{
    width: 20rem;
}
#products > div{
    margin: 0 0.75rem  ;
    margin-top: 0.7rem;
    background-color: #f1f1f1;

}
#products > div > img{
    border-radius: 10px;
    height: 200px;
}


@media screen and (max-width: 1200px) {



}

@media screen and (max-width: 1000px) { 




}

@media screen and (max-width: 600px) {
    .main-img 
        {width: 100%;
    }

}
